.portfolio {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
}

.portfolio__title {
  width: 21.9298246%;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--sub-text-color);
}

.portfolio__list-projects {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.portfolio-web-site {
  padding: 0 0 9px;
  border-bottom: 1px solid var(--portfolio-web-site-border-color);
  display: flex;
  justify-content: space-between;
}

.portfolio-web-site:last-child {
  padding: 0;
  border: none;
}

.portfolio-web-site-name {
  width: 77.1929825%;
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio-web-site-arrow {
  margin: 0;
  width: max-content;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .portfolio__title {
    width: 100%;
  }
  .portfolio-web-site-name {
    width: 85.61643835616438%;
    font-size: 18px;
    line-height: 28px;
  }
  .portfolio-web-site-arrow {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .portfolio__title {
    width: 37.4251598006998%;
  }
  .portfolio-web-site-name {
    font-size: 28px;
  }
  .portfolio-web-site-arrow {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
}
