.portfolio {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
}

.portfolio__title {
  width: 21.9298246%;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--sub-text-color);
}

.portfolio__list-projects {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.portfolio-web-site {
  padding: 0 0 9px;
  border-bottom: 1px solid var(--portfolio-web-site-border-color);
  display: flex;
  justify-content: space-between;
}

.portfolio-web-site_border_no-border {
  border: none;
}

.portfolio-web-site-name {
  width: 77.1929825%;
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio-web-site-arrow {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
}
