.App {
  position: relative;
  font-family: var(--main-font-family);
  font-style: normal;
  color: var(--main-text-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-columns: minmax(auto, var(--max-width-app));
  justify-content: center;
}

.App__container {
  width: 100%;
}
