.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.navigation__login-navlinks {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__navlink {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.navigation__navlink_status_activ {
  font-weight: 500;
}

.navigation__navlink-registration {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .navigation__navlink-registration {
    font-size: 10px;
  }
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
}
