/* ? нормазайл */
@import url(./vendor/normalize.css);

/* ? шрифты */
@import url(./vendor/fonts/fonts.css);

.link {
  color: var(--main-text-color);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.4s;
}

.link:hover {
  opacity: 0.7;
}

.button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.4s;
}

.button:hover {
  opacity: 0.8;
}

#root {
  --main-bg-color: #202020;
  --sub-main-bg-color: #272727;

  --landing-bg-color: #073042;
  --logo-bg-color: #3ddc84;
  --light-bg-color: #3ddc84;

  --main-text-color: #fff;
  --sub-text-color: #8b8b8b;
  --err-text-color: #ee3465;
  --button-text-color: #000000;
  --movies-card-bg-color: #222222;

  --landing-title-border-color: #dadada;
  --landing-title-black-border-color: #000;

  --border-color: #424242;

  --burger-menu-color: #fff;
  --button-component-color: #fff;

  --week-text-color: #000000;
  --week-bg-light-color: var(--light-bg-color);
  --week-bg-dakr-color: #303030;
  --button-bg-dakr-color: #303030;

  --texhs-bg-dakr-color: #303030;

  --button-out-color: #ee3465;
  --user-icon-button-bg-color: #313131;
  --button-bg-color: #ee3465;
  --button-bg-color-no-added: #313131;

  --submit-button-bg-color: #4285f4;
  --link-color: #4285f4;
  --input-bg-color: #2f2f2f;

  /* // #8B8B8B; */
  /* // #202020; */
  /* // #3DDC84; */
  /* // #313131; */
  /* // #424242; */
  /* // #222222; */
  /* // #303030; */
  /* // #4285F4; */
  /* // #2F2F2F; */
  /* // EE3465 */
  /* #000000; */
  /* #A0A0A0; */
  /* // #DADADA; */
  /* // #073042; */
  /* #272727; */
  /* #C4C4C4; */
  /* #E6E6E6; */
  /* #505050; */
  /* #959595; */
  /* #F8F8F8; */
}

/* ? скролбар  */
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #8b8b8b;
  border-radius: 5px;
}
