.aboutMe {
  display: flex;
  flex-direction: column;
}

.aboutMe__info-img {
  padding: 66px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutMe__info {
  margin: 0;
  width: 52.6315789%;
  display: flex;
  flex-direction: column;
}

.aboutMe__title {
  margin: 0 0 18px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.aboutMe__sub-title {
  margin: 0 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.aboutMe__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.aboutMe__link {
  margin: auto 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.aboutMe__img {
  /* max-width: calc(100% - 52.6315789% - 270px); */
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;
}
