.navTab {
  margin: 0;
  background-color: var(--sub-main-bg-color);
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}

.navTab__link {
  text-decoration: underline;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--main-text-color);
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .navTab {
    gap: 0 7.5%;

  }
  .navTab__link {
    font-size: 11px;
  }
}
